@model IEnumerable<Course>

@{
    string TrackName = ViewBag.TrackName;
    string IntakeName = ViewBag.IntakeName;
    int IntakeID = ViewBag.IntakeID;
    int TrackID = ViewBag.TrackID;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/assets/js/bootstrap.bundle.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html" style="margin-left: 24px;">
                <img src="~/assets/images/iti-logo.png" alt="Logo" width="33" height="50" class="d-inline-block align-text-top">
            </a>
            <div class="navbarvr"></div>
            <span class="collapse navbar-collapse  navbar-brand">ITI-Hub</span>
            <div class="justify-content-end" id="navbarSupportedContent">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/Identity/Account/Login" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 sidebar">
                <div class="d-flex flex-column flex-shrink-0 p-lg-4 bg-body-tertiary" style="width: 280px; height: 93vh;">
                    <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ">
                        <span class="nav-title">Navigation</span>
                    </span>

                    <hr>

                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item navs">
                            <a href="index.html" class="nav-link link-body-emphasis act" aria-current="page">
                                <img src="~/assets/images/White/intake.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                <span style="color: white;">Intakes</span>
                            </a>
                        </li>
                        <li class="nav-item navs">
                            <a href="managedTracks.html" class="nav-link link-body-emphasis">
                                <img src="~/assets/images/Gray/track.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                Tracks
                            </a>
                        </li>
                        <li class="nav-item navs">
                            <a href="courses.html" class="nav-link link-body-emphasis">
                                <img src="~/assets/images/Gray/courses.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                Courses you teach
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

        <div class="col-md-10 text-center content">
                <div class="container-fluid">
                    <div class="row col-md-12">
                        <div class="r1">
                            
                            <div class="row">
                                <div class="col" style="display:inline-flex">
                                    <a asp-controller="Intake" asp-action="Index" class="text-primary" style="padding-left:50px ; width:140px">@IntakeName</a>
                                </div>
                                <div class="col" style="display:inline-flex">
                                    <span><i class="fas fa-arrow-right"></i></span>
                                    <a asp-controller="Track" asp-action="DetailsForTeacher" asp-route-id="@IntakeID" asp-route-name="@IntakeName" class="text-primary" style="padding-left:15px ; width:153px ">@TrackName Track</a>
                                </div>
                                <div class="col" style="display:inline-flex">
                                    <span><i class="fas fa-arrow-right"></i></span>
                                    <p style="padding-left:20px ; font-weight:bold">Courses</p>
                                </div>
                            </div>

                        </div>

                        <div class="container" style="flex-wrap: wrap; justify-content: center ; margin-top: 16px;">
                            <div class="row">
                                @foreach (var course in Model)
                                {
                                    <div class="col-md-4 mb-3">
                                        <a class="box card" style="width:210px"
                                            asp-controller="CourseDay" 
                                            asp-action="Index"
                                            asp-route-id="@course.ID" 
                                            asp-route-name="@course.Name" 
                                            asp-route-intakeID="@IntakeID" 
                                            asp-route-trackID="@TrackID" 
                                            asp-route-intakeName="@IntakeName" 
                                            asp-route-trackName="@TrackName">

                                                <div class="card-body text-center">
                                                    <h3 class="my-5">@course.Name</h3>
                                                </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
















































@*<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.AspNetUserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@