@{
    string current = ViewContext.RouteData.Values["controller"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/assets/js/bootstrap.bundle.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>


</head>
<body>

    @*=====================================================================*@
    @*=====================================================================*@
    @*mahmoud taher update*@

    <!-- Preloader -->
    <div id="preloader">
        <div class="itiHub-load"></div>
        <img src="~/images/0.png" alt="logo">
    </div>

    <nav class="navbar navbar-expand-sm bg-body-tertiary slide-down">
        <div class="container-fluid">
            <a class="navbar-brand" id="logo" asp-action="Index" asp-controller="Home">
                <img src="~/assets/images/iti-logo.png" alt="Logo" width="33" height="50" class="d-inline-block align-text-top">
                <div class="iti-hub-devider">
                    <span> Hub </span>
                </div>
            </a>
            <div class="d-flex navbar-user-buttons">
                <a asp-area="Identity" asp-page="/Account/AddUser" class="btn regbtn hvr-bounce-to-right">Add User</a>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" style="color:white; padding:10px 38px" class="nav-link btn btn-link border-0 hvr-bounce-to-right logoutbtn">Logout</button>
                </form>
            </div>
        </div>
    </nav>


    <div class="container-fluid slide-right sidebar_animation">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-3 col-md-2  sidebar">
                <div class="d-flex flex-column flex-shrink-0 p-lg-4 bg-body-tertiary" style="height: 100vh">
                    <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ">
                    </span>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item navs">
                                <a id="trackLink" href="" class="nav-link link-body-emphasis hvr-bounce-to-right @(current == "Track" ? "act" : "")">
                                <img src="~/assets/images/@(current == "Track" ? "White" : "Gray")/track.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                <span style="color: @(current == "Track" ? "white" : "black")" ;">Tracks</span>
                            </a>
                        </li>
                        <li class="nav-item navs">
                                <a id="courseLink" href="" class="nav-link link-body-emphasis hvr-bounce-to-right @(current == "Course" ? "act" : "")">
                                <img src="~/assets/images/@(current == "Course" ? "White" : "Gray")/course.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                <span style="color: @(current == "Course" ? "white" : "black")" ;">Courses</span>
                            </a>
                        </li>
                        <li class="nav-item navs">
                            <a id="instructorLink" href="" class="nav-link link-body-emphasis hvr-bounce-to-right @(current == "Instructor" ? "act" : "")">
                                <img src="~/assets/images/@(current == "Instructor" ? "White" : "Gray")/instructor.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                <span style="color: @(current == "Instructor" ? "white" : "black")">Instructors</span>
                            </a>

                        </li>
                        <li class="nav-item navs">
                            <a id="studentLink" href="" class="nav-link link-body-emphasis hvr-bounce-to-right @(current == "Student" ? "act" : "")">
                                <img src="~/assets/images/@(current == "Student" ? "White" : "Gray")/student.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                <span style="color: @(current == "Student" ? "white" : "black")" ;">Students</span>
                            </a>
                        </li>
                        <li class="nav-item navs">
                            <a asp-action="Index" asp-controller="Intake" class="nav-link link-body-emphasis hvr-bounce-to-right @(current == "Intake" ? "act" : "")">
                                <img src="~/assets/images/@(current == "Intake" ? "White" : "Gray")/intake.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                <span style="color: @(current == "Intake" ? "white" : "black")" ;">Intakes</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Main (tables + btns) -->
            @RenderBody()

        </div>
    </div>



    <script src="~/script.js"></script>
    <script src="~/preloader.js"></script>

    <script>
        // Read the selected intake ID from local storage
        var selectedIntakeID = parseInt(localStorage.getItem('selectedIntakeID'));
        var instructorLink = document.getElementById("instructorLink");
        var studentLink = document.getElementById("studentLink");
        var courseLink = document.getElementById("courseLink");
        var logo = document.getElementById("logo");

        logo.addEventListener('click', () => {
            localStorage.setItem('selectedIntakeID', 0);//to take intake id
        });

        // Use the selected intake ID to view filtered Instructors

        if (selectedIntakeID != 0) {
            instructorLink.setAttribute('href', '/Instructor/InsIndexByIntakeId/' + selectedIntakeID);
        } else {
            instructorLink.setAttribute('href', '/Instructor/Index');
        }

        // Use the selected intake ID to view filtered Students
        if (selectedIntakeID != 0) {
            studentLink.setAttribute('href', '/Student/StdIndexByIntakeId/' + selectedIntakeID);
        } else {
            studentLink.setAttribute('href', '/Student/Index');
        }
        // Use the selected intake ID to view filtered Tracks
        if (selectedIntakeID != 0) {
            trackLink.setAttribute('href', '/Track/TracksByInakeId/' + selectedIntakeID);
        } else {
            trackLink.setAttribute('href', '/Track/Index');
        }

        // Use the selected intake ID to view filtered Courses
        if (selectedIntakeID != 0) {
            courseLink.setAttribute('href', '/Course/CrsIndexByIntakeId/' + selectedIntakeID);
        } else {
            courseLink.setAttribute('href', '/Course/Index');
        }


    </script>


</body>
</html>

