



<div id="intakeDataContainer">
    <!-- 4 Cards ( Tracks, Courses, Instructor, Student ) -->
    <div class="container text-center" style="margin: 40px auto 16px;">
        <div class="row ">
            <div style="display: flex; justify-content: space-evenly; margin-bottom: 24px">
                <div class="">
                    <a style="padding-top: 8px;" class="card stretched-link text-decoration-none track-card" style="width: 18rem;" asp-action="Index" asp-controller="Track">
                        <img src="assets/images/tracks.png" class="card-img-top card-text" alt="tracks" style="width: 130px; height: 130px; margin: 10px auto 0px;">
                        <div class="card-body">
                            <h4 class="card-text">@Model.TrackNumber</h4>
                            <h2 class="card-text">Tracks</h2>
                        </div>
                    </a>
                </div>
                <div class="">
                    <a style="padding-top: 8px;" class="card stretched-link text-decoration-none" style="width: 18rem;" asp-action="Index" asp-controller="Course">
                        <img src="assets/images/courses.png" class="card-img-top" alt="courses" style="width: 130px; height: 130px; margin: 10px auto 0px;">
                        <div class="card-body">
                            <h4 class="card-text">@Model.CourseNumber</h4>
                            <h2 class="card-text">Courses</h2>
                        </div>
                    </a>
                </div>
                <div class="">
                    <a style="padding-top: 8px;" class="card stretched-link text-decoration-none" style="width: 18rem;" asp-action="Index" Action" asp-controller="Instructor">
                        <img src="assets/images/instructor.png" class="card-img-top" alt="instructors" style="width: 130px; height: 130px; margin: 10px auto 0px;">
                        <div class="card-body">
                            <h4 class="card-text">@Model.InstructorNumber</h4>
                            <h2 class="card-text">Instructors</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div style="display: flex; justify-content: space-evenly;">
                <div class="">
                    <a style="padding-top: 8px;" class="card stretched-link text-decoration-none" style="width: 18rem;" asp-action="Index" asp-controller="Student">
                        <img src="assets/images/student.png" class="card-img-top" alt="intakes" style="width: 130px; height: 130px; margin: 10px auto 0px;">
                        <div class="card-body">
                            <h4 class="card-text">@Model.StudentNumber</h4>
                            <h2 class="card-text">Students</h2>
                        </div>
                    </a>
                </div>
                <div class="">
                    <a style="padding-top: 8px;" class="card stretched-link text-decoration-none" style="width: 18rem;" asp-action="Index" asp-controller="Intake">
                        <img src="assets/images/intake.png" class="card-img-top" alt="students" style="width: 130px; height: 130px; margin: 10px auto 0px;">
                        <div class="card-body">
                            <h4 class="card-text">@Model.IntakeNumber</h4>
                            <h2 class="card-text">Intakes</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
