@{
    string current = ViewContext.RouteData.Values["controller"] as string;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/styles.css">
        <script src="~/assets/js/bootstrap.bundle.js"></script>
        <script src="~/assets/js/bootstrap.bundle.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

    </head>
    <body>

    @*=====================================================================*@
    @*=====================================================================*@
    @*mahmoud taher update*@

    <!-- Preloader -->
    <div id="preloader">
        <div class="itiHub-load"></div>
        <img src="~/images/0.png" alt="logo">
    </div>



        <nav class="navbar navbar-expand-sm bg-body-tertiary slide-down">
            <div class="container-fluid">
                <a class="navbar-brand" id="logo" asp-action="Index" asp-controller="Intake" asp-area="InstructorsArea">
                    <img src="~/assets/images/iti-logo.png" alt="Logo" width="33" height="50" class="d-inline-block align-text-top">
                    <div class="iti-hub-devider">
                        <span> Hub </span>
                    </div>
                </a>
                <div class="d-flex navbar-user-buttons">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" style="color:white; padding:10px 38px" class="nav-link btn btn-link border-0 hvr-bounce-to-right logoutbtn">Logout</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid slide-right">
            <div class="row">

                @RenderBody()

            </div>
        </div>



        <script src="~/script.js"></script>

    @*taher updates*@
        <script src="~/preloader.js"></script>
    </body>
</html>






































@*
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/assets/js/bootstrap.bundle.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/Instructor/SideBar_BreadCrumb.css">

</head>
<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home" style="margin-left: 24px;">
                <img src="~/assets/images/iti-logo.png" alt="Logo" width="33" height="50" class="d-inline-block align-text-top">
            </a>
            <div class="navbarvr"></div>
            <span class="collapse navbar-collapse  navbar-brand">Hub</span>
            <div class="justify-content-end" id="navbarSupportedContent">
                <div class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-right: 20px;">

                    <a asp-area="Identity" asp-page="/Account/AddUser" class="btn regbtn">Add User</a>

                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link border-0 logoutbtn">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 sidebar">
                <div class="d-flex flex-column flex-shrink-0 p-lg-4 bg-body-tertiary" style="width: 280px; height: 93vh;">

                    @RenderBody()

                </div>
            </div>

            <!-- Main (tables + btns) -->
            @RenderBody()

        </div>
    </div>
    <script src="~/script.js"></script>
</body>
</html>*@