<div class="col-9 col-md-10 text-center content">
    <div class="container-fluid create-course add-track-courses">
        <div class="row">
            <h3 style="margin: 30px 0; text-align: center; padding:0;">
            <div class="r1">
                @*<h3 style="padding-left: 38px;">
                    You are adding tracks and courses for
                    @foreach (var intakeName in ViewBag.intakeNames)
                    {
                        @intakeName @:
                    }
                </h3>*@
                    You are adding tracks and courses for
                    @for (var i = 0; i < ViewBag.intakeNames.Count; i++)
                    {
                        @ViewBag.intakeNames[i]
                        @*@if (i < ViewBag.intakeNames.Count - 1)
                        {
                            , 
                        }*@
                        if (i < ViewBag.intakeNames.Count - 1)
                        {
                            <span>, </span>
                        }
                    }
                </h3>
             </div>
        <div class="p-lg-5">
            <span class="input-group-text" style="margin-bottom: 0; font-size: 16px; font-weight: bold;">Tracks</span>
            @* <form method="post" id="courseForm" asp-action="SaveSelectedTrackAndCourses" asp-controller="Intake"> *@
            <form method="post" id="myformcourse" asp-action="SaveSelectedTrackAndCourses" asp-controller="Intake">
               <div>
                    @Html.DropDownList("selectedTrack", ViewBag.tracks as SelectList, "Select track", new { @class = "form-select", aria_label = "Default select example", })
                </div>
               <br />
               <br />

                <div>
                    <span class="input-group-text" style="margin-bottom: 0; font-size: 16px; font-weight: bold;">Courses</span>
                    <select class="form-control" id="SelectedInstructorIds" name="SelectedInstructorIds" multiple aria-label="Default select example" style="margin-top: 24px; display: none;">

                        @*<option value="" disabled selected>Select courses</option> <!-- This line adds the placeholder -->*@
                        <!-- Populate courses here -->
                        @foreach (var course in ViewBag.courses)
                        {
                            <option value="@course.Value">@course.Text</option>
                        }
                    </select>
                </div>
             

                <input type="hidden" id="selectedCourseIds" name="selectedCourseIds" value="">
                <input type="hidden" id="selectedIntakeIds" name="selectedIntakeIds" value="">
                <input type="button" class="btn btn-primary" style="margin-top: 24px;" value="Save" id="saveButton">
                <a href="@Url.Action("Index", "Intake")" class="btn btn-secondary" style="margin-top: 24px;">Go to Index</a>

            </form>
        </div>

        </div>

    </div>
 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Cache references to the track and course dropdowns
        var $selectedTrack = $("#selectedTrack");
        var $selectedCourse = $("#SelectedInstructorIds");
        var $selectedCourseIds = $("#SelectedInstructorIds");
        var $selectedIntakeIds = $("#selectedIntakeIds");

        // // Initially hide the course dropdown
        // $selectedCourse.hide();

        // // Attach an event handler to the track dropdown's change event
        // $selectedTrack.on("change", function () {
        //     // Check if a track is selected
        //     if ($selectedTrack.val() !== "") {
        //         // Show the course dropdown
        //         $selectedCourse.show();
        //     } else {
        //         // Hide the course dropdown
        //         $selectedCourse.hide();
        //     }
        // });

        // Attach an event handler to the form submission
        $("#saveButton").on("click", function () {
            // Get the selected course IDs
            var selectedCourseIds = $selectedCourse.val();

            // Set the selected course IDs as a comma-separated string in the hidden input field
            $selectedCourseIds.val(selectedCourseIds);

            // Get the selected intake IDs
            var selectedIntakeIds = @Html.Raw(Json.Serialize(ViewBag.intakeIDs));

            
            // Join the intake IDs into a comma-separated string
            var intakeIdsString = selectedIntakeIds.join(',');

            // Set the selected intake IDs as a comma-separated string in the hidden input field
            $selectedIntakeIds.val(intakeIdsString);

            // Make an AJAX POST request to the controller action
            $.ajax({
                url: "@Url.Action("SaveSelectedTrackAndCourses", "Intake")",
                method: "POST",
                data: {
                    selectedTrackId: $selectedTrack.val(),
                    selectedCourseIds: selectedCourseIds,
                    selectedIntakeIds: selectedIntakeIds
                },
                success: function (response) {
                    // Handle the success response
                    // You can update the UI or perform any other actions here

                    window.location.reload();
                },
                error: function () {
                    // Handle the error if the request fails
                }
            });
        });
    });
</script>
<script src="~/multiSelect.js"></script>