@model IEnumerable<Intake>
@*@{
    Layout = null;
}*@
<style>
    .modal {
        z-index: 10000;
    }

    .modal.fade .modal-dialog {
        transform: translate(0, -50px);
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        z-index: 5;
    }

    .modal.fade.show .modal-dialog {
        transform: translate(0, 0);
        opacity: 1;
        z-index: 10000;
    }

    .modal-backdrop {
        z-index: 5;
    }

    .modal-content {
        z-index: 10006;
    }

</style>


<div class="col-9 col-md-10 text-center content">
    <div class="container-fluid intake-index">
        <div class="row">

            @* small screens *@
            <div class="small-screen">
            <h3 style="margin: 30px 0; text-align: center;">Intakes' Table</h3>
            <div class="r1">
                <div>
                    <div style="display: flex;">
                            <button type="button"  class="customdeletebtn_kordy btn logoutbtn deletebtn" style=" margin: 0 0 0 8px; ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                            </svg>
                            Delete
                        </button>
                        <a asp-controller="Intake" asp-action="Create" class="btn btn-primary" style="margin-left: 8px;">+ Create Intake</a>
                        <a id="addTrackAndCoursesBtn" class="btn btn-primary" style="margin-left: 8px;">Add track & courses</a>
                        <form id="addTrackAndCoursesForm" asp-action="Add_Track_Courses" asp-controller="Intake">
                            @Html.Hidden("intakeIDs", "") <!-- This hidden input will hold the selected intake IDs -->
                        </form>
                    </div>
                    
                    <br />

                        <div class="dropdown" id="durationDropdown">
                            <button class="btn durationDropdownBtn">
                                <!-- Added an ID to the button -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                                </svg>
                                Filter duration
                            </button>

                            <div class="dropdown-content" style="right: 10px; border-radius: 8px; overflow-y: auto; height: 150px;">
                                <a href="#" class="duration-link" data-duration-value=0>All Intakes</a>
                                <hr style="padding: 0; margin: 0; color: gray;">
                                @{
                                    for (int i = 1; i <= 12; i++)
                                    {
                                        <a href="#" class="duration-link" data-duration-value=@i>@i</a>
                                        <hr style="padding: 0; margin: 0; color: gray;">
                                    }
                                }
                            </div>
                        </div>
                </div>
            </div>
            </div>



            @* large screens *@
            <div class="large-screen">
                <div class="r1">
                    <h3>Intakes' Table</h3>

                    <div class="intake_div_01" style="display: flex;">
                        <div class="dropdown" id="durationDropdown" style="height: 45px;">
                            <button class="btn durationDropdownBtn">
                                <!-- Added an ID to the button -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                                </svg>
                                Filter duration
                            </button>

                            <div class="dropdown-content" style="right: 10px; border-radius: 8px; overflow-y: auto; height: 150px;">
                                <a href="#" class="duration-link" data-duration-value=0>All Intakes</a>
                                <hr style="padding: 0; margin: 0; color: gray;">
                                @{
                                    for (int i = 1; i <= 12; i++)
                                    {
                                        <a href="#" class="duration-link" data-duration-value=@i>@i</a>
                                        <hr style="padding: 0; margin: 0; color: gray;">
                                    }
                                }
                            </div>
                        </div>
                        <br />
                        <br />

                        <div>
                            <button type="button" class="customdeletebtn_kordy btn logoutbtn deletebtn" style=" margin: 0 0 0 8px; ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                </svg>
                                Delete
                            </button>
                            <a asp-controller="Intake" asp-action="Create" class="btn btn-primary" style="margin-left: 8px;">+ Create Intake</a>
                            <a id="addTrackAndCoursesBtn" class="btn btn-primary" style="margin-left: 8px;">Add track & courses</a>
                            <form id="addTrackAndCoursesForm" asp-action="Add_Track_Courses" asp-controller="Intake">
                                @Html.Hidden("intakeIDs", "") <!-- This hidden input will hold the selected intake IDs -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!--Modal-->
            @*<div class="modal fade" tabindex="-1" role="dialog" id="confirm-delete-modal" style="display:none">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm Deletion</h5>
             
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this Material?
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelDeletion">
                                Cancel
                            </button>

                            <button type="submit" class="btn btn-danger" id="confirm-delete">
                                Delete
                            </button> 
                        </div>
                    </div>
                </div>
            </div>*@
        </div>

        <partial name="_TableDataPartial" />

       
    </div>
</div>

<script>
    
    // Function to remove the element when the screen width is greater than 991px
    function removeElementOnLargeScreens() {
        if (window.innerWidth > 991) {
        var elementToRemove = document.querySelector('.small-screen #addTrackAndCoursesBtn');
            if (elementToRemove) {
                elementToRemove.parentNode.removeChild(elementToRemove);
            }
        }
    }

    // Call the function initially and listen for window resize events
    removeElementOnLargeScreens();

    window.addEventListener('resize', removeElementOnLargeScreens);



    var selectedDuration = 0; // Default value

    // Function to handle dropdown <a> click event
    $('.duration-link').on('click', function (e) {
        e.preventDefault(); // Prevent default link behavior
        selectedDuration = $(this).data('duration-value');
      
        // Update the button text with the selected intake name
        var selectedDurationName = $(this).text();
        $('.durationDropdownBtn').html(`
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                    </svg>
                        ${selectedDurationName}
                `);

        // Make an AJAX call to the UpdateTableData action
        $.ajax({
            url: '@Url.Action("UpdateTableData", "Intake")', // Use Url.Action to generate the correct URL
            type: 'GET',
            data: { duration: selectedDuration, pageNumber: 1 }, // Pass the selected intake ID and current page number as parameters
            success: function (result) {
                // Replace the content of the partialTable div with the updated HTML
                $('#partialTable').html(result);
            },
            error: function () {
                alert('Error occurred while fetching data.');
            }
        });
    });

   

    // Function to get the selected intake IDs
    function getSelectedIntakeIds() {
        var selectedIntakeIds = $('input[name="selectedIntakeIds[]"]:checked').map(function () {
            return parseInt($(this).val());
        }).get();
        return selectedIntakeIds;
    }

    $('#addTrackAndCoursesBtn').on('click', function (e) {
        e.preventDefault();

        var selectedIntakeIds = getSelectedIntakeIds();

        if (selectedIntakeIds.length === 0) {
            alert("Please select at least one intake to add tracks and courses.");
            return;
        }

        // Set the selected intake IDs in the hidden input
        $('#intakeIDs').val(selectedIntakeIds.join(','));

        // Submit the form
        $('#addTrackAndCoursesForm').submit();
    });
    
</script>

