@*@model IEnumerable<Admin_Panel_ITI.Models.Student>

@{
    ViewBag.Title = "All Students";
}

<h2>All Students</h2>

<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Is Graduated</th>
            <th>Creation Date</th>
            <th>Track</th>
            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FullName</td>
                <td>@student.UserName</td>
                <td>@(student.IsGraduated ? "Yes" : "No")</td>
                <td>@student.CreationDate.ToString("yyyy-MM-dd")</td>
                <td>@student.Track.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id" class="btn btn-primary">Edit</a>

                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@student.Id" class="btn btn-info">Details</a>

                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
*@