@using Admin_Panel_ITI.Repos;

@model IEnumerable<Track>

@{
    int IntakeID = ViewBag.IntakeID;
    string IntakeName = ViewBag.intakeName;
}

@inject IStudentRepository studentRepo;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITI - Hub</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/assets/js/bootstrap.bundle.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="~/Instructor/SideBar_BreadCrumb.css">
</head>
<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Intake" style="margin-left: 24px;">
                <img src="~/assets/images/iti-logo.png" alt="Logo" width="33" height="50" class="d-inline-block align-text-top">
            </a>
            <div class="navbarvr"></div>
            <span class="collapse navbar-collapse  navbar-brand">ITI-Hub</span>
            <div class="justify-content-end" id="navbarSupportedContent">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/Identity/Account/Login" method="post">
                    <button type="submit" class="nav-link btn btn-link border-0 logoutbtn">Logout</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 sidebar">
                <div class="d-flex flex-column flex-shrink-0 p-lg-4 bg-body-tertiary" style="width: 280px; height: 93vh;">
                    <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ">
                        <span class="nav-title">Navigation</span>
                    </span>

                    <hr>


                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item navs1">
                            <a style="--clr: #7808d0" class="button" asp-controller="Intake" asp-action="Index">
                                <span class="button__icon-wrapper">
                                    <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                    </svg>

                                    <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                    </svg>
                                </span>
                                @IntakeName
                            </a>
                        </li>

                        <li class="nav-item navs2">
                            <p style="border-radius:50px;">Tracks</p>
                        </li>

                    </ul>

                </div>
            </div>

            <!-- Main (tales + btns) -->
            <div class="col-md-10 text-center content">
                <div class="container-fluid">
                    <div class="row col-md-12">

                        <div class="r1">
                            <h3 style="padding-left: 33px;">Tracks Table</h3>


                            @* <div>
                            <div class="dropdown" style="margin: 0 0 0 16px;">
                            <button class="btn" style="width:200px; padding: 8px 0;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                            </svg>
                            Filter by tracks
                            </button>
                            <div class="dropdown-content" style="right: 15px; border-radius: 8px; overflow-y: auto; height: 98px;">
                            <a href="managedTracks.html">Managed Tracks</a>
                            <hr style="padding: 0; margin: 0; color: gray;">
                            <a href="teachedTracks.html">Tracks you teach in</a>
                            </div>
                            </div>
                            </div>*@
                        </div>
                    </div>

                    <div class="row col-md-11">
                        <table class="table" id="myTable">

                            <thead class="table-secondary">
                                <tr>
                                    <th style="padding-left: 24px;">
                                        Name
                                        <svg onclick="sortTable(0)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </th>
                                    <th>
                                        No. of Students
                                        <svg onclick="sortTable(1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var track in Model)
                                {
                                    <tr>
                                        <td style="padding-left: 24px; padding-top: 16px;">
                                            @Html.DisplayFor(modelItem => track.Name)
                                        </td>
                                        <td style="padding-top: 16px; padding-left: 55px">
                                            @studentRepo.GetStudentsNumberbyIntakeTrackID(IntakeID, track.ID)
                                        </td>
                                        <td style="padding-right: 16px; text-align: right;">
                                            <a asp-controller="Course" asp-action="DetailsForTeacher" asp-route-id="@track.ID" asp-route-iid="@IntakeID" asp-route-name="@track.Name" asp-route-name2="@IntakeName" class="btn regbtn" style="padding: 8px 16px;">Display Courses</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                    <!--Tracks managed by any instructor will never exceed 4. No need for pages-->
                    @*<div class="footer">
                    <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                    </li>
                    </ul>
                    </nav>
                    </div>*@
                </div>
            </div>
        </div>
    </div>

    <script src="~/script.js"></script>

</body>
</html>
