@using Admin_Panel_ITI.Repos;
@model IEnumerable<Track>
@{
    int IntakeID = ViewBag.IntakeID;
    string IntakeName = ViewBag.intakeName;
}
@inject IStudentRepository studentRepo;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/assets/js/bootstrap.bundle.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html" style="margin-left: 24px;">
                <img src="~/assets/images/iti-logo.png" alt="Logo" width="33" height="50" class="d-inline-block align-text-top">
            </a>
            <div class="navbarvr"></div>
            <span class="collapse navbar-collapse  navbar-brand">ITI-Hub</span>
            <div class="justify-content-end" id="navbarSupportedContent">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/Identity/Account/Login" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 sidebar">
                <div class="d-flex flex-column flex-shrink-0 p-lg-4 bg-body-tertiary" style="width: 280px; height: 93vh;">
                    <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ">
                        <span class="nav-title">Navigation</span>
                    </span>

                    <hr>

                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item navs">
                            <a href="index.html" class="nav-link link-body-emphasis act" aria-current="page">
                                <img src="~/assets/images/White/intake.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                <span style="color: white;">Intakes</span>
                            </a>
                        </li>
                        <li class="nav-item navs">
                            <a href="managedTracks.html" class="nav-link link-body-emphasis">
                                <img src="~/assets/images/Gray/track.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                Tracks
                            </a>
                        </li>
                        <li class="nav-item navs">
                            <a href="courses.html" class="nav-link link-body-emphasis">
                                <img src="~/assets/images/Gray/courses.svg" class="bi pe-none me-2" width="32" height="32" style="margin-bottom: 4px;"></img>
                                Courses you teach
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <!-- Main (tales + btns) -->
            <div class="col-md-10 text-center content">
                <div class="container-fluid">
                    <div class="row col-md-12">

                        <!--Forward/Back Arrow links-->
                        <div class="r1">
                            <div class="row">
                                <div class="col" style="display:inline-flex">
                                    <a asp-controller="Intake" asp-action="Index" class="text-primary" style="padding-left:50px; width:140px ">@IntakeName</a>
                                </div>
                                <div class="col" style="display:inline-flex">
                                    <span><i class="fas fa-arrow-right" ></i></span>
                                    <p style="padding-left:20px ; font-weight:bold">Tracks</p>
                                </div>
                            </div>
                           
                            @*<h3 style="padding-left: 33px;">The tracks you manage in [ @IntakeName ] </h3>*@
                           @* <div>
                                <div class="dropdown" style="margin: 0 0 0 16px;">
                                    <button class="btn" style="width:200px; padding: 8px 0;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                                            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                                        </svg>
                                        Filter by tracks
                                    </button>
                                    <div class="dropdown-content" style="right: 15px; border-radius: 8px; overflow-y: auto; height: 98px;">
                                        <a href="managedTracks.html">Managed Tracks</a>
                                        <hr style="padding: 0; margin: 0; color: gray;">
                                        <a href="teachedTracks.html">Tracks you teach in</a>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>

                    <div class="row col-md-11">
                        <table class="table" id="myTable">

                            <thead class="table-secondary">
                                <tr>
                                    <th style="padding-left: 24px;">
                                        Name
                                        <svg onclick="sortTable(0)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </th>
                                    <th>
                                        No. of Students
                                        <svg onclick="sortTable(1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (Track track in Model)
                                {
                                    <tr>
                                        <td style="padding-left: 24px; padding-top: 16px;">
                                            @Html.DisplayFor(modelItem => track.Name)
                                        </td>
                                        <td style="padding-top: 16px; padding-left: 55px">
                                            @studentRepo.GetStudentsNumberbyIntakeTrackID(IntakeID, track.ID)
                                        </td>
                                        <td>
                                            <a asp-controller="Course" asp-action="DetailsForManager" asp-route-id="@track.ID" asp-route-iid="@IntakeID" asp-route-name="@track.Name" asp-route-name2="@IntakeName" class="btn regbtn" style="padding: 8px 16px;">Display Courses</a>
                                            <a asp-controller="Student" asp-action="Details" asp-route-id="@track.ID" asp-route-iid="@IntakeID" asp-route-name="@track.Name" asp-route-name2="@IntakeName" class="btn regbtn" style="padding: 8px 16px;">Display Students</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                    <!--Tracks managed by any instructor will never exceed 4. No need for pages-->
                    @*<div class="footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>*@
                </div>
            </div>
        </div>
    </div>

    <script src="~/script.js"></script>

</body>
</html>




@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Number Of students
            </th>
            <th>
                Track Courses
            </th>    
            <th>
                Track Students
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var track in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => track.Name)
                </td>
                <td>
                    @studentRepo.GetStudentsNumberbyIntakeTrackID(IntakeID, track.ID)
                </td>
                <td>
                    <a asp-controller="Course" asp-action="CoursesInTrackDetails" asp-route-id="@track.ID" asp-route-iid="@IntakeID" asp-route-name="@track.Name" class="btn btn-primary">Display Courses</a>
                    <a asp-controller="Course" asp-action="CoursesInTrackDetails" asp-route-id="@track.ID" asp-route-iid="@IntakeID" asp-route-name="@track.Name" class="btn btn-primary">Display Students</a>
                </td>
            </tr>
        }
    </tbody>
</table>
*@