@{
    var courseList = ((IEnumerable<Admin_Panel_ITI.Models.Intake_Track_Course>)Model).ToList();
}


<div id="partialTable">
    <div class="row">
        <table class="table table-hover" id="myTable">
            <thead class="table-secondary">
                <tr>
                    <th>@*<input type="checkbox" name="all" id="all" class="all" onclick="checkUncheck(this)">*@</th>
                    <th>
                        Name
                        <svg onclick="sortTable(1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </th>
                    <th>
                        Track
                        <svg onclick="sortTable(1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </th>
                    <th>
                        Intake
                        <svg onclick="sortTable(1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </th>
                    <th>
                        Duration
                        <svg onclick="sortTable(1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < courseList.Count; i++)
                {
                    <tr>
                        <td><input type="checkbox" name="selectedCourseIds[]" class="course-checkbox" value="@courseList[i].Course.ID"></td>
                        <td style="cursor: pointer;" onclick="editCourse(@courseList[i].Course.ID)">@courseList[i].Course.Name</td>
                        <td style="cursor: pointer;" onclick="editCourse(@courseList[i].Course.ID)">@courseList[i].Track.Name</td>
                        <td style="cursor: pointer;"> @(courseList[i].Intake.Name)</td>
                        <td>@courseList[i].Course.Duration</td>
                        <td style="padding: 5px 8px">
                            <a asp-action="edit" asp-route-id="@courseList[i].Course.ID">
                                <img style='width: 20px; height: 20px;' src='~/assets/images/edit.png' alt='details'>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="footer">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item @(ViewBag.PageNumber <= 1 ? "disabled" : "")">
                    <a class="page-link" href="#" id="prevPageBtn">Previous</a>
                </li>


                <li class="page-item active">
                    <a class="page-link" href="#">
                        @{
                            if (ViewBag.PageNumber == 0)
                            {
                                ViewBag.PageNumber++;

                            }
                        }
                        @ViewBag.PageNumber
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#" id="nextPageBtn">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<script>

    var selectedTrackId = 0; // Default value
    // Function to handle dropdown <a> click event
    var intakeID = @Html.Raw(Json.Serialize(ViewBag.IntakeID));

    $('.track-link').on('click', function (e) {
        e.preventDefault(); // Prevent default link behavior
        selectedTrackId = $(this).data('track-value');

        var selectedTrackName = $(this).text();
        $('.trackDropdownBtn').html(`
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                    </svg>
                        ${selectedTrackName}
                `);

        // Make an AJAX call to the UpdateTableData action
        $.ajax({
            url: '@Url.Action("UpdateTableData", "Course")', // Use Url.Action to generate the correct URL
            type: 'GET',
            data: { intakeID: intakeID, trackID: selectedTrackId, pageNumber: 1 }, // Pass the selected intake ID and current page number as parameters
            success: function (result) {
                // Replace the content of the partialTable div with the updated HTML
                $('#partialTable').html(result);
            },
            error: function () {
                alert('Error occurred while fetching data.');
            }
        });
    });


    // Function to handle the "Next" button click event
    $('#nextPageBtn').on('click', function (e) {
        e.preventDefault();
        selectedTrackId = $(this).data('track-value') || @ViewBag.trackID;

        var nextPage = @ViewBag.PageNumber +1; // Get the previous page number

        // Make an AJAX call to the UpdateTableData action with the previous page number
        $.ajax({
            url: '@Url.Action("UpdateTableData", "Course")', // Use Url.Action to generate the correct URL
            type: 'GET',
            data: { intakeID: intakeID, trackID: selectedTrackId, pageNumber: nextPage }, // Pass the selected intake ID and previous page number as parameters
            success: function (result) {
                // Replace the content of the partialTable div with the updated HTML
                $('#partialTable').html(result);


                // Disable the "Prev" button if needed (you may need to add logic here)
                // Example: if (prevPage <= 0) { $('#prevPageBtn').addClass('disabled'); }
            },
            error: function () {
                alert('Error occurred while fetching data.');
            }
        });
    });


    // Function to handle the "Prev" button click event
    $('#prevPageBtn').on('click', function (e) {
        e.preventDefault();
        selectedTrackId = $(this).data('track-value') || @ViewBag.trackID; // Get the selected intake ID

        var prevPage = @ViewBag.PageNumber -1; // Get the previous page number

        // Make an AJAX call to the UpdateTableData action with the previous page number
        $.ajax({
            url: '@Url.Action("UpdateTableData", "Course")', // Use Url.Action to generate the correct URL
            type: 'GET',
            data: { intakeID: intakeID, trackID: selectedTrackId, pageNumber: prevPage }, // Pass the selected intake ID and previous page number as parameters
            success: function (result) {
                // Replace the content of the partialTable div with the updated HTML
                $('#partialTable').html(result);


                //Disable the "Prev" button if needed (you may need to add logic here)
                if (nextPage <= 0) {
                    $('#prevPageBtn').addClass('disabled');
                } else {
                    $('#prevPageBtn').removeClass('disabled');
                }
            },
            error: function () {
                alert('Error occurred while fetching data.');
            }
        });
    });


    $('.customdeletebtn_kordy').off('click').on('click', function () {
        // Get the selected checkboxes
        var selectedCourseIds = $('input[name="selectedCourseIds[]"]:checked').map(function () {
            return $(this).val();
        }).get();



        if (selectedCourseIds.length === 0) {
            alert("Please select at least one track to delete.");
            return;
        }

        // Get the intake ID and page number from the hidden input fields
        var trackID = parseInt(@ViewBag.trackID);
        var pageNumber = parseInt(@ViewBag.PageNumber);
        var intakeID = parseInt(@ViewBag.IntakeID);

        // Make an AJAX POST request to the Delete action with parameters
        $.ajax({
            url: '@Url.Action("Delete", "Course")',
            type: 'GET',
            traditional: true, // Use traditional serialization for arrays
            data: {
                selectedCourseIds: selectedCourseIds,
                trackID: trackID,
                intakeID: intakeID,
                pageNumber: pageNumber
            },
            success: function (result) {
                // Handle the success response as needed
                // For example, you can update the table with the new data
                $('#partialTable').html(result);
            },
            error: function () {
                // Handle errors here
                alert('Error occurred while deleting data.');
            }
        });
    });

    function editCourse(courseID) {
        window.location.href = '/Course/Edit/' + courseID; // Replace with the correct URL format
    }

</script>