@model Admin_Panel_ITI.Models.Course

@{
    ViewData["Title"] = "Details";
    List<string> tracksNames = (List<string>)ViewData["tracks"];
    List<string> intakesNames = (List<string>)ViewData["intakes"];
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.FullName)
<<<<<<< HEAD
=======
        </dd>
        <dd class = "col-sm-10">
>>>>>>> 06677245b9e5e3049ae335ecc581b24bb1b8b8fc
        </dd>
        
        <dt class="col-sm-2">
            Tracks
        </dt>
        <dd class="col-sm-10">
            @{
                for(int i = 0; i < tracksNames.Count(); i++)
                {
                    <p> @tracksNames[i]</p>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
