@model Admin_Panel_ITI.Models.Course

<div class="container-fluid col-md-6">
    <h3 style="margin-top: 32px;">Edit Course</h3>

    <form id="myformcourse" asp-controller="Course" asp-action="Edit" method="post">
        <!-- Include the course ID as a hidden field -->

        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text" style="width: 170px; font-size: 20px;">Course Name</span>
            <input asp-for="Name" class="form-control" aria-label="Sizing example input" placeholder="Enter course name">
        </div>
        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text" style="width: 170px; font-size: 20px;">Duration</span>
            <input asp-for="Duration" class="form-control" aria-label="Sizing example input" placeholder="Enter course duration in days">
        </div>
        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text" style="width: 170px; font-size: 20px;">Creation Date</span>
            <input asp-for="CreationDate" class="form-control" aria-label="Sizing example input" placeholder="Enter course creation date">
        </div>

       @* <div class="form-group">
            <label for="instructorSelect">Instructors Teaching this course:</label>
            <div id="instructorSelect">
                @foreach (var instructor in ViewBag.SelectedInstructors)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="@($"Instructor_{instructor.AspNetUserID}")" name="OldSelectedInstructors" value="@instructor.AspNetUserID" checked onchange="handleCheckboxChange(this.id, this.name)">
                        <label class="form-check-label" for="@($"Instructor_{instructor.AspNetUserID}")">
                            @instructor.AspNetUser.FullName
                        </label>
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <label for="instructorSelect">Add Instructors: </label>
            <div id="instructorSelect">
                @foreach (var instructor in ViewBag.AllInstructors)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="@($"Instructor_{instructor.AspNetUserID}")" name="NewSelectedInstructors" value="@instructor.AspNetUserID" onchange="handleCheckboxChange(this.id, this.name)">
                        <label class="form-check-label" for="@($"Instructor_{instructor.AspNetUserID}")">
                            @instructor.AspNetUser.FullName
                        </label>
                    </div>
                }
            </div>
        </div>*@

        <div class="form-group">
            <input type="submit" value="Edit Course" class="btn btn-primary" />
        </div>
    </form>
</div>
