@model IEnumerable<Admin_Panel_ITI.Models.Intake_Track>

@{
    ViewData["Title"] = "GetTrackByInakeId";
}

<h1>GetTrackByInakeId</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Track.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Track.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Track.CreationDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Track.Manager.FullName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Track.Admin.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrackID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TrackID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TrackID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
