@using Admin_Panel_ITI.Areas.InstructorsArea.ViewModels;

@model CourseDay_Material_TaskVM

@{
    int id = ViewBag.Id;
    string name = ViewBag.Name;
    string trackName = ViewBag.TrackName;
    string intakeName = ViewBag.IntakeName;
    int intakeID = ViewBag.IntakeID;
    int trackID = ViewBag.TrackID;
    int DayNumber = ViewBag.CourseDaysCount + 1;
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ITI - Hub</title>
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/styles.css">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/assets/js/bootstrap.bundle.js"></script>
        <script src="~/assets/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="~/Instructor/addDay.css" />
    </head>
    <body>

        @* <div class="">
            <div class="row">
                <!-- Main (tales + btns) -->
                <div class="col-md-10 text-center content">
                    <div class="container-fluid">
                        <div class="row col-md-12">
                            <div class="r1">
                                <h3 style="padding-left: 450px;">Fill Day Details:</h3>
                            </div>
                        </div>
                        <div class="row col-md-10" style="margin-left: 450px; margin-top:-10px">

                            <form enctype="multipart/form-data" asp-action="Createe" asp-controller="CourseDay" style="margin-top: 32px; text-align: left; width: 75%;">
                                <input type="hidden" asp-for="Date" />
                                <input type="hidden" asp-for="@id" />
                                <input type="hidden" asp-for="@intakeID" />
                                <input type="hidden" asp-for="@trackID" />
                                <input type="hidden" asp-for="@DayNumber" />

                                <label style="font-size: 19px;" class="form-label">Day Number</label>

                                <input asp-for="DayNumber" placeholder="@DayNumber" value="@DayNumber" class="form-control" aria-label="Sizing example input" disabled>
                                <span asp-validation-for="DayNumber" class="text-danger"></span>
                                <br />
                                <div class="file-upload2">
                                    <div class="file-select2">
                                        <div class="file-select-button2" id="fileName">Upload Materials</div>
                                        <div class="file-select-name2" id="noFileChosen">No file chosen..</div>
                                        <input asp-for="Materials" id="choosenFile" class="form-control" aria-label="Sizing example input" multiple>
                                        <span asp-validation-for="Materials" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />
                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Upload Task</div>
                                        <div class="file-select-name" id="noFile">Choose File..</div>
                                        <input asp-for="Task" id="chooseFile" class="form-control" aria-label="Sizing example input">
                                        <span asp-validation-for="Task" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />
                                <label style="font-size: 19px;" class="form-label">Task Deadline</label>
                                <input asp-for="DeadLine" class="form-control" aria-label="Sizing example input">
                                <span asp-validation-for="DeadLine" class="text-danger"></span>
                                <br />

                                <div class="form-group">

                                    <input type="submit" value="Add" class="btn btn-primary" />

                                    <a asp-action="Index"
                                       asp-route-id="@id"
                                       asp-route-name="@name"
                                       asp-route-intakeID="@intakeID"
                                       asp-route-trackID="@trackID"
                                       asp-route-intakeName="@intakeName"
                                       asp-route-DayNumber="@DayNumber"
                                       asp-route-trackName="@trackName" 
                                       class="btn btn-dark">
                                       Back to List
                                   </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@


















    @*===========================================================*@
    @*===========================================================*@
    @*===========================================================*@
    @*========================= mahmoud taher updates ========================*@
    <div class=" instructor-area-course-day-create">
            <!-- Main (tales + btns) -->
            <div class="text-center content">
                <div class="container-fluid">
                        <div class="r1">
                            <h3>Fill Day Details:</h3>
                        </div>
                    <div class="content-container">

                        <form enctype="multipart/form-data" asp-action="Createe" asp-controller="CourseDay" style="margin-top: 32px; text-align: left; width: 75%;">
                            <input type="hidden" asp-for="Date" />
                            <input type="hidden" asp-for="@id" />
                            <input type="hidden" asp-for="@intakeID" />
                            <input type="hidden" asp-for="@trackID" />
                            <input type="hidden" asp-for="@DayNumber" />

                            <label style="font-size: 19px;" class="form-label">Day Number</label>

                            <input asp-for="DayNumber" placeholder="@DayNumber" value="@DayNumber" class="form-control" aria-label="Sizing example input" disabled>
                            <span asp-validation-for="DayNumber" class="text-danger"></span>
                            <br />
                            <div class="file-upload2">
                                <div class="file-select2">
                                    <div class="file-select-button2" id="fileName">Upload Materials</div>
                                    <div class="file-select-name2" id="noFileChosen">No file chosen..</div>
                                    <input asp-for="Materials" id="choosenFile" class="form-control" aria-label="Sizing example input" multiple>
                                    <span asp-validation-for="Materials" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">Upload Task</div>
                                    <div class="file-select-name" id="noFile">Choose File..</div>
                                    <input asp-for="Task" id="chooseFile" class="form-control" aria-label="Sizing example input">
                                    <span asp-validation-for="Task" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <label style="font-size: 19px;" class="form-label">Task Deadline</label>
                            <input asp-for="DeadLine" class="form-control" aria-label="Sizing example input">
                            <span asp-validation-for="DeadLine" class="text-danger"></span>
                            <br />

                            <div class="form-group">
                                <input type="submit" value="Add" class="btn btn-primary" />
                                <a asp-action="Index"
                                   asp-route-id="@id"
                                   asp-route-intakeID="@intakeID"
                                   asp-route-trackID="@trackID"
                                   class="btn btn-dark">
                                    Back to List
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>












        <script>
            //Material
            $('#choosenFile').bind('change', function () {
                var filenames = [];
                var files = $("#choosenFile")[0].files;

                for (var i = 0; i < files.length; i++) {
                    filenames.push(files[i].name);
                }

                if (filenames.length === 0) {
                    $(".file-upload2").removeClass('active');
                    $("#noFileChosen").text("No file chosen...");
                }
                else {
                    $(".file-upload2").addClass('active');
                    $("#noFileChosen").text(filenames.join(', '));
                    //$("noFileChosen").text(filename.replace("C:\\fakepath\\", filenames.join(', '));
                }
            });

            //Task
            $('#chooseFile').bind('change', function () {
                var filename = $("#chooseFile").val();
                if (/^\s*$/.test(filename)) {
                    $(".file-upload").removeClass('active');
                    $("#noFile").text("No file chosen...");
                }
                else {
                    $(".file-upload").addClass('active');
                    $("#noFile").text(filename.replace("C:\\fakepath\\", ""));

                    console.log(filename);
                }
            });
        </script>

    </body>
</html>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>