@model IEnumerable<Course_Day_Material>

@{
    Layout = null;
}

@{
    int courseID = ViewBag.Id;
    string courseName = ViewBag.Name;
    string TrackName = ViewBag.TrackName;
    string IntakeName = ViewBag.IntakeName;
    int IntakeID = ViewBag.IntakeID;
    int TrackID = ViewBag.TrackID;
    int CourseDayID = ViewBag.CourseDayId;
    int CourseDayNum = ViewBag.CourseDayNum;
    string taskName = ViewBag.taskName;
    string taskExtension = ViewBag.taskExtension;

    List<IFormFile>? Materials = (List<IFormFile>)ViewBag.Materials;
    List<IFormFile>? Task = (List<IFormFile>)ViewBag.Tasks;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ITI - Hub</title>
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/styles.css">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/assets/js/bootstrap.bundle.js"></script>
        <script src="~/assets/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="~/Instructor/SideBar_BreadCrumb.css">

        <style>

            .Material {
                background-color: #D4F8D3;
                padding: 6px 10px;
                border-radius: 22px;
                font-size: 14px;
                color: black;
            }            
            
            .Task {
                background-color: #FFF0BB;
                padding: 6px 25px;
                border-radius: 22px;
                font-size: 14px;
                color: black;
            }


            .file-upload {
                display: block;
                text-align: center;
            }

            .file-upload .file-select {
                display: inline-block;
                border: 2px solid #dce4ec;
                color: #34495e;
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                text-align: left;
                /* background: #FFFFFF; */
                overflow: hidden;
                position: relative;
            }

            .file-upload .file-select .file-select-button {
                background: #dce4ec;
                padding: 0 10px;
                display: inline-block;
                height: 40px;
                line-height: 40px;
            }

            .file-upload .file-select .file-select-name {
                line-height: 40px;
                display: inline-block;
                padding: 0 10px;
            }

            .file-upload .file-select:hover {
                border-color: #34495e;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

            .file-upload .file-select:hover .file-select-button {
                background: #34495e;
                color: #FFFFFF;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

            .file-upload.active .file-select {
                border-color: #3fa46a;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

            .file-upload.active .file-select .file-select-button {
                background: #3fa46a;
                color: #FFFFFF;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
            }

            .file-upload .file-select input[type=file] {
                z-index: 100;
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }

            .file-upload .file-select.file-select-disabled {
                opacity: 0.65;
            }

            .file-upload .file-select.file-select-disabled:hover {
                cursor: default;
                display: block;
                border: 2px solid #dce4ec;
                color: #34495e;
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                margin-top: 5px;
                text-align: left;
                background: #FFFFFF;
                overflow: hidden;
                position: relative;
            }

            .file-upload .file-select.file-select-disabled:hover .file-select-button {
                background: #dce4ec;
                color: #666666;
                padding: 0 10px;
                display: inline-block;
                height: 40px;
                line-height: 40px;
            }

            .file-upload .file-select.file-select-disabled:hover .file-select-name {
                line-height: 40px;
                display: inline-block;
                padding: 0 10px;
            }



            /*modal css*/
            .modal.fade .modal-dialog {
                transform: translate(0, -50px);
                opacity: 0;
                transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            }

            .modal.fade.show .modal-dialog {
                transform: translate(0, 0);
                opacity: 1;
            }
            .uploads-container
            {

            }
        </style>

    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-body-tertiary slide-down">
            <div class="container-fluid">
                <a class="navbar-brand" id="logo" asp-action="Index" asp-controller="Intake" asp-area="InstructorsArea">
                    <img src="~/assets/images/iti-logo.png" alt="Logo" width="33" height="50" class="d-inline-block align-text-top">
                    <div class="iti-hub-devider">
                        <span> Hub </span>
                    </div>
                </a>
                <div class="d-flex navbar-user-buttons">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" style="color:white; padding:10px 38px" class="nav-link btn btn-link border-0 hvr-bounce-to-right logoutbtn">Logout</button>
                    </form>
                </div>
            </div>
        </nav>


        @* <div class="">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-md-2 sidebar">
                    <div class="d-flex flex-column flex-shrink-0 p-lg-4 bg-body-tertiary" style="width: 280px; height: 93vh;">
                        <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ">
                            <span class="nav-title">Navigation</span>
                        </span>

                        <hr>

                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item navs1">
                                <a style="--clr: #7808d0" class="button" asp-controller="Intake" asp-action="Index">
                                    <span class="button__icon-wrapper">
                                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>

                                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                    </span>
                                    @IntakeName
                                </a>
                            </li>
                            <li class="nav-item navs2">
                                <a asp-controller="Track" asp-action="DetailsForTeacher" asp-route-id="@IntakeID" style="--clr: #7808d0" class="button">
                                    <span class="button__icon-wrapper">
                                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>

                                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                    </span>
                                    @TrackName
                                </a>
                            </li>
                            <li class="nav-item navs2">
                                <a asp-controller="Course"
                                   asp-action="DetailsForTeacher"
                                   asp-route-intakeId="@IntakeID"
                                   asp-route-trackId="@TrackID"
                                   style="--clr: #7808d0" class="button">
                                    <span class="button__icon-wrapper">
                                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>

                                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                    </span>
                                    @courseName
                                </a>
                            </li>
                            <li class="nav-item navs3">
                                <a asp-action="Index"
                                   asp-controller="CourseDay"
                                   asp-route-id="@courseID"
                                   asp-route-intakeID="@IntakeID"
                                   asp-route-trackID="@TrackID"
                                   style="--clr: #7808d0" class="button">
                                    <span class="button__icon-wrapper">
                                        <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>

                                        <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                            <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                        </svg>
                                    </span>
                                    Day @CourseDayNum
                                </a>
                            </li>
                            <li class="nav-item navs3">
                                <p style="border-radius:50px;">Materials & Tasks</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Main (tales + btns) -->
                <div class="col-md-10 text-center content">
                    <div class="container-fluid">
                        <div class="row col-md-12">
                            <div class="r1">
                                <h3 style="padding-left: 33px;">Day @CourseDayNum Materials & Tasks</h3>
                                <div>
                                <form id="uploadForm" enctype="multipart/form-data" asp-action="Detailss" asp-controller="CourseDay" method="post">
                                    <input type="hidden" name="Materials" value="@Materials" />
                                    <input type="hidden" name="Task" value="@Task" />
                                    <input type="hidden" name="id" value="@courseID" />
                                    <input type="hidden" name="intakeID" value="@IntakeID" />
                                    <input type="hidden" name="trackID" value="@TrackID" />
                                    <input type="hidden" name="coursedayID" value="@CourseDayID" />


                                    <div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="fileName">Add New Materials</div>
                                            <input asp-for="@Materials" id="choosenFile" class="form-control " aria-label="Sizing example input" multiple>
                                        </div>
                                    </div>

                                    <div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="fileName">Update Task</div>
                                            <input asp-for="@Task" id="choosenFile2" class="form-control" aria-label="Sizing example input">
                                        </div>
                                    </div>
                                </form>

                                <div class="d-flex navbar-user-buttons">
                                    <form id="logoutForm" class="form-inline" asp-controller="Submissions" asp-action="Index"
                                         asp-route-id="@courseID"
                                          asp-route-intakeID="@IntakeID"
                                          asp-route-trackID="@TrackID"
                                          asp-route-CourseDayId=@CourseDayID>
                                                                                
                                        <button id="logout" type="submit" style="color:white; padding:10px 38px" class="nav-link btn btn-link border-0 hvr-bounce-to-right logoutbtn"> Tasks Submissions</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-11">
                            <!--Material Table-->
                            <table class="table table-hover" id="myTable">
                                <thead class="table-secondary">
                                    <tr>
                                        <th style="padding-left: 24px;">
@*                                          <span class="Material">
                                                Materials
                                            </span>
                                            &nbsp;&
                                            <span class="Task">
                                                Tasks
                                            </span>*@
                                          @*   Materials & Tasks
                                            <svg onclick="sortTable(0)" xmlns="http://www.w3.org/2000/svg" width="16"
                                                 height="16" fill="currentColor" class="bi bi-caret-down-fill"
                                                 viewBox="0 0 16 16">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                            </svg>
                                        </th>
                                        <th>
                                            Type
                                            <svg onclick="sortTable(1)" xmlns="http://www.w3.org/2000/svg" width="16"
                                                 height="16" fill="currentColor" class="bi bi-caret-down-fill"
                                                 viewBox="0 0 16 16">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                            </svg>
                                        </th>
                                        <th>
                                            File Type
                                            <svg onclick="sortTable(2)" xmlns="http://www.w3.org/2000/svg" width="16"
                                                 height="16" fill="currentColor" class="bi bi-caret-down-fill"
                                                 viewBox="0 0 16 16">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                            </svg>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="padding-left: 24px; padding-top: 16px;">
                                                @Html.DisplayFor(modelItem => item.MaterialOfDay.Name)
                                            </td>

                                            <td>
                                                <span class="Material">
                                                    Materials
                                                </span>
                                            </td>

                                            <td style="padding-top: 16px;">
                                                @Html.DisplayFor(modelItem => item.MaterialOfDay.Type)
                                            </td>

                                            <td style="text-align: right; padding-right: 24px;"> *@
                                                @*<button value="@item.MaterialID" id="customdeletebtn_kordy" class="btn logoutbtn deletebtn delete-link" style=" margin: 0 0 0 8px; ">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                    </svg>
                                                    @*Delete
                                                </button>*@
                                         @*        <button value="@item.MaterialID" id="customdeletebtn_kordy" class="delete-link" style="background-color: transparent; border: none;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="margin: 0 4px 4px 0; color: #b72025;">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                    <td style="padding-left: 24px; padding-top: 16px;">
                                            @taskName
                                        </td> 
                                        <td>
                                            <span class="Task">
                                                Task
                                            </span>
                                        </td>  
                                        <td>
                                        .@taskExtension
                                        </td> 
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!--Modal of Deletion-->
                            <form id="deleteModal" method="post">

                                <!-- Hidden input field to store the desired delete material id -->
                                <input type="hidden" id="buttonValue" name="MaterialID" value="">

                                <div class="modal fade" tabindex="-1" role="dialog" id="confirm-delete-modal" style="display:none">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Confirm Deletion</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this Material?
                                            </div>
                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelDeletion">
                                                    Cancel
                                                </button>

                                                <button asp-action="Delete"
                                                        asp-controller="CourseDay"
                                                        asp-route-id="@courseID"
                                                        asp-route-name="@courseName"
                                                        asp-route-intakeID="@IntakeID"
                                                        asp-route-trackID="@TrackID"
                                                        asp-route-intakeName="@IntakeName"
                                                        asp-route-trackName="@TrackName"
                                                        asp-route-coursedayID="@CourseDayID"
                                                        asp-route-coursedayNum="@CourseDayNum"
                                                        type="submit" class="btn btn-danger" id="confirm-delete">
                                                    Delete
                                                </button> <!--confirm delete-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>

            </div>
        </div>  *@




















    @*===========================================================*@
    @*===========================================================*@
    @*===========================================================*@
    @*========================= mahmoud taher updates ========================*@
    <div class=" instructor-area-course-day-details">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-4 col-md-2 sidebar">
                <div class="d-flex flex-column flex-shrink-0 p-lg-4 bg-body-tertiary">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item navs1">
                            <a style="--clr: #7808d0" class="button" asp-controller="Intake" asp-action="Index" title="@IntakeName">
                                <span class="button__icon-wrapper">
                                    <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                    </svg>

                                    <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                    </svg>
                                </span>
                                <span class="spannn"> @IntakeName </span>
                                
                            </a>
                        </li>
                        <li class="nav-item navs2">
                            <a asp-controller="Track" asp-action="DetailsForTeacher" asp-route-id="@IntakeID" style="--clr: #7808d0" class="button" title="@TrackName">
                                <span class="button__icon-wrapper">
                                    <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                    </svg>

                                    <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                    </svg>
                                </span>
                                <span class="spannn">
                                    @TrackName
                                </span>
                                
                            </a>
                        </li>
                        <li class="nav-item navs2">
                            <a asp-controller="Course"
                               asp-action="DetailsForTeacher"
                               asp-route-intakeId="@IntakeID"
                               asp-route-trackId="@TrackID"
                               style="--clr: #7808d0" class="button" title="@courseName">
                                <span class="button__icon-wrapper">
                                    <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                    </svg>

                                    <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                    </svg>
                                </span>
                                <span class="spannn">
                                    @courseName
                                </span>
                                
                            </a>
                        </li>
                        <li class="nav-item navs3">
                            <a asp-action="Index"
                               asp-controller="CourseDay"
                               asp-route-id="@courseID"
                               asp-route-intakeID="@IntakeID"
                               asp-route-trackID="@TrackID"
                               style="--clr: #7808d0" class="button" title="@CourseDayNum">
                                <span class="button__icon-wrapper">
                                    <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                    </svg>

                                    <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                                    </svg>
                                </span>
                                <span class="spannn">
                                    Day @CourseDayNum
                                </span>
                                
                            </a>
                        </li>
                        <li class="nav-item navs3">
                            <p style="border-radius:50px;">Materials/Tasks</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Main (tales + btns) -->
            <div class="col-8 col-md-10 text-center content">
                <div class="container-fluid">
                        <div class="r1">
                            <h3>Day @CourseDayNum Materials & Tasks</h3>
                            <div class="uploads-container">
                                <form id="uploadForm" enctype="multipart/form-data" asp-action="Detailss" asp-controller="CourseDay" method="post">
                                    <input type="hidden" name="Materials" value="@Materials" />
                                    <input type="hidden" name="Task" value="@Task" />
                                    <input type="hidden" name="id" value="@courseID" />
                                    <input type="hidden" name="intakeID" value="@IntakeID" />
                                    <input type="hidden" name="trackID" value="@TrackID" />
                                    <input type="hidden" name="coursedayID" value="@CourseDayID" />


                                    <div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="fileName">Add New Materials</div>
                                            <input asp-for="@Materials" id="choosenFile" class="form-control " aria-label="Sizing example input" multiple>
                                        </div>
                                    </div>

                                    @*<input type="file" asp-for="@Materials" id="choosenFile" class="form-control " aria-label="Sizing example input" multiple>*@


                                    <div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="fileName">Update Task</div>
                                            <input asp-for="@Task" id="choosenFile2" class="form-control" aria-label="Sizing example input">
                                        </div>
                                    </div>
                                </form>

                            <div class="d-flex navbar-user-buttons">
                                    <form id="logoutForm" class="form-inline" asp-controller="Submissions" asp-action="Index"
                                          asp-route-id="@courseID"
                                          asp-route-intakeID="@IntakeID"
                                          asp-route-trackID="@TrackID"
                                          asp-route-CourseDayId=@CourseDayID>
                                    <button id="logout" type="submit" style="color:#34495e; padding:10px 38px" class="nav-link btn btn-link border-0 hvr-bounce-to-right logoutbtn">View Submissions</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--Material Table-->
                        <table class="table table-hover" id="myTable">
                            <thead class="table-secondary">
                                <tr>
                                    <th style="padding-left: 24px;">
                                        Materials & Tasks
                                        <svg onclick="sortTable(0)" xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16" fill="currentColor" class="bi bi-caret-down-fill"
                                             viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </th>
                                    <th>
                                        Type
                                        <svg onclick="sortTable(1)" xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16" fill="currentColor" class="bi bi-caret-down-fill"
                                             viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </th>
                                    <th>
                                        File Type
                                        <svg onclick="sortTable(2)" xmlns="http://www.w3.org/2000/svg" width="16"
                                             height="16" fill="currentColor" class="bi bi-caret-down-fill"
                                             viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="padding-left: 24px; padding-top: 16px;">
                                            @Html.DisplayFor(modelItem => item.MaterialOfDay.Name)
                                        </td>

                                        <td>
                                            <span class="Material">
                                                Materials
                                            </span>
                                        </td>

                                        <td style="padding-top: 16px;">
                                            @Html.DisplayFor(modelItem => item.MaterialOfDay.Type)
                                        </td>

                                            <td style="text-align: right; padding-right: 24px;">
                                                <button value="@item.MaterialID" id="customdeletebtn_kordy" class="delete-link" style="background-color: transparent; border: none;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="margin: 0 4px 4px 0; color: #b72025;">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                    <td style="padding-left: 24px; padding-top: 16px;">
                                        @taskName
                                    </td>
                                    <td>
                                        <span class="Task">
                                            Task
                                        </span>
                                    </td>
                                    <td>
                                        .@taskExtension
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!--Modal of Deletion-->
                        <form id="deleteModal" method="post">

                            <!-- Hidden input field to store the desired delete material id -->
                            <input type="hidden" id="buttonValue" name="MaterialID" value="">

                                <div class="modal fade" tabindex="-1" role="dialog" id="confirm-delete-modal" style="display:none">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Confirm Deletion</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this Material?
                                            </div>
                                            <div class="modal-footer">

                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelDeletion">
                                                Cancel
                                            </button>

                                            <button asp-action="Deletee"
                                                    asp-controller="CourseDay"
                                                    asp-route-id="@courseID"
                                                    asp-route-intakeID="@IntakeID"
                                                    asp-route-trackID="@TrackID"
                                                    asp-route-coursedayID="@CourseDayID"
                                                    type="submit" class="btn btn-danger" id="confirm-delete">
                                                Delete
                                            </button> <!--confirm delete-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br />
                        <br />
                </div>
            </div>

        </div>
    </div>











    <!--Confirm Deletion Script-->
    <script>

        $(document).ready(function () {

            // Show the modal when the "Delete" link is clicked
            $(".delete-link").click(function () {
                $("#confirm-delete-modal").modal("show");

                // Get the value on the delete btn(materialID)
                var buttonValue = $(this).val();

                // Update the hidden input field in the modal form with the button value
                $("#buttonValue").val(buttonValue);
            });


            //cancel btn
            $("#cancelDeletion").click(function () {
                $("#confirm-delete-modal").modal("hide");
            });
        });


        //Add Material script
        $('#choosenFile').bind('change', function () 
        {
            var filenames = [];
            var files = $("#choosenFile")[0].files;

            for (var i = 0; i < files.length; i++) {
                filenames.push(files[i].name);
            }

            if (filenames.length === 0) {
                $(".file-upload").removeClass('active');
            }
            else {
                //Get the form html element
                var form = document.getElementById("uploadForm");

                //Submit the form
                form.submit();
            }
        });


        //Add Tasks script
        $('#choosenFile2').bind('change', function () {
            var filenames = [];
            var files = $("#choosenFile2")[0].files;

            for (var i = 0; i < files.length; i++) {
                filenames.push(files[i].name);
            }

            if (filenames.length === 0) {
                $(".file-upload").removeClass('active');
            }
            else {
                //Get the form html element
                var form = document.getElementById("uploadForm");

                //Submit the form
                form.submit();
            }
        });
    </script>
    </body>
</html>


